extends ../layout

block content
  div(class='header')
    h1 The Zine
  div(id='new')
  if errors   
    for err in errors
      p.err
        = err
  form(action='/articles' method='post')
    fieldset
      h2 New Article
      div(class='title')
        label(for='title') Title 
        input(id='title' type='text' name='title')
      br  
      div(class='url')
        label(for='url') Background URL 
        input(id='url' type='text' name='url')
      br
      div(class='backgroundImage')  
        input(id='checkbox' type='checkbox' name='backgroundUrl')
        label(class ='check' for='checkbox') Background image has dark colors
      br  
      div(class='excerpt')    
        label(for='excerpt') Excerpt 
        textarea(id='excerpt' type='text' name='excerpt')
      br  
      div(class='body')  
        label(for='body') Body   
        textarea(id='body' type='text' name='body')
      div(class='add')
        button(type='submit' name='submit') Add Article
    
