extends ../layout

block content
  div(class='header')
    h1 The Zine
  div(class='article')
    h3= article.title
    p= article.body
  a(href='/articles/' + article._id + '/edit') Edit
  form(id='delete' method='post' action='/articles/' + article._id + '/delete')
    p.delete
      button.delete(class='delete' type='submit' value="Delete") Delete
      
