body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/congruent_outline.png');
}
.header {
  background-image: url('https://unsplash.imgix.net/photo-1429198739803-7db875882052?dpr=2&fit=crop&fm=jpg&h=1575&q=75&w=1050');
}

a {
  color: #00B7FF;
}

h1 {
  text-align: right;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 10px;
}

h2 {
  border-bottom: 1px solid black;
}
/*form {*/
    /* Just to center the form on the page */
    /*margin: 0 auto;
    background-color: white;*/
    /* To see the outline of the form */
    /*padding: 1em; to create padding between border and form fields
    border: 1px solid black;*/
    /*border-radius: 1em; - to create round edges around form*/
/*}*/

form {
  margin: 0 auto;
  background-color: white;
  position:relative;
  border: 1px solid black;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 130px;
    text-align: left;
}

label.check {
  display: inline;
  width: auto;
}

input[type=text] {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    width: 600px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

.backgroundImage {
  padding-left: 130px;
  text-align: left;
  display: inline-block;
}

textarea {
  display: inline-block;
  width:600px;
  border: 1px solid #999;
  height: 75px;
}

.add {
  padding-left: 130px;
}
